<form id="###FORMID###" action="" method="post">
	<h5>###HEADER###</h5>
	<p>###MESSAGE###</p>
	
	<div id="tx-ajaxlogin-change-notice"></div>
	
	<div>
		<label for="tx-ajaxlogin-pwa">###NEWPASS_LABEL1###</label>
		<input type="password" id="tx-jaxlogin-np1" name="tx_ajaxlogin[np1]" />
	</div>
	
	<div>
		<label for="tx-ajaxlogin-pwa">###NEWPASS_LABEL2###</label>
		<input type="password" id="tx-jaxlogin-np2" name="tx_ajaxlogin[np2]" />
	</div>
	<div>
		<input type="submit" name="submit" value="###SEND_PASSWORD###" />
	 </div>
	 
	 <input type="hidden" name="tx_ajaxlogin[forgot]" value="###FORGOT_HASH###" />
</form>